h1,
p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  text-align: center;
}

button {
  background-color: rgb(76, 153, 212);
  border-radius: 15px;

  color: black;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.flex-container {
  display: flex;
  justify-content: center;
}

table {
  border: 2px solid black;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  border-bottom: 2px solid white;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(151, 145, 192);
  color: black;
  text-align: center;
}
tr:nth-child(even) {
  background-color: lightcyan;
}
tr:hover {
  background-color:lightskyblue;
}

td {
  text-align: center;
  padding: 8px;
}

h1 {
  padding: 50px;
  text-align: center;
  background: lightblue;
  color: white;
  font-size: 60px;
}